.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    }

.favorite {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 2px solid #C3D633
}