.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 

.review {
    flex: -1 0 auto;
    margin: 1em;
    padding: 1em;
    border: 2px solid #823DB3
}

.hidden {
  display: none
}