.parks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .park {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.park__favorite {
  border: 1px solid blueviolet
}