.parks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  }

.park {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid goldenrod;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.feature {
  list-style-type: none;
  margin: .3em;
  padding: .2em;
  border: 1px solid black;
  border-radius: 5px;
}

.hidden {
  display: none
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.filter {
  list-style-type: none;
  margin: .3em;
  padding: .2em;
  border: 1px solid black;
  border-radius: 5px;
}

.search {
 border-right: 1px solid gainsboro;
}